
.outercontainer{
    background-color:#444a5a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}
.outercontainer h1{
    margin: 0;
    padding: 15px;
    font-family: Arial;
}
.outercontainer img{
    width: 40px;
    padding: 15px;


}
.love{
    display: flex;
    flex-direction: row;
}